:root {
    --White: hsl(0, 0%, 100%);
    --Pale-Blue: hsl(221, 100%, 96%);
    --Light-Lavender: hsl(241, 100%, 89%);
    --Dark-Gray-Blue: hsl(224, 30%, 27%);
    --Light-Red: hsl(0, 100%, 67%);
    --Orangey-Yellow: hsl(39, 100%, 56%);
    --Green-Teal: hsl(166, 100%, 37%);
    --Cobalt-Blue: hsl(234, 85%, 45%);
    --Light-Slate-Blue: hsl(252, 100%, 67%);
    --Light-Royal-Blue: hsl(241, 81%, 54%);
    --Violet-Blue: hsla(256, 72%, 46%, 1);
    --Persian-Blue: hsla(241, 72%, 46%, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Hanken-Grotesk';
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

body {
    font-family: 'Hanken-Grotesk';
    font-size: 18px;
    background-color: var(--White);
    color: var(--Dark-Gray-Blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h2 {
    font-weight: 800;
}

h3 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

.main {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, var(--Light-Royal-Blue), var(--Light-Slate-Blue));
    color: var(--Light-Lavender);
    padding: 30px 60px 50px 60px;
    border-radius: 0px 0px 40px 40px;

    & .score-title {
        font-size: 18px;
        margin-bottom: 20px;
    }

    & p {
        text-align: center;
    }

    & .score-value {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(0deg, var(--Persian-Blue), var(--Violet-Blue));
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 50%;
        width: 150px;
        height: 150px;

        & h3 {
            color: var(--White);
            font-size: 58px;
        }
    }

    & .congrats-title {
        color: var(--White);
        margin-bottom: 10px;
    }

}

.summary-container {
    display: flex;
    flex-direction: column;
    padding: 40px;

    & h2 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    & .summary-specific-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        background-color: var(--Pale-Blue);
        padding: 20px;
        border-radius: 10px;

        & .summary-specific {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
        }
    }

}

.attribution {
    font-size: 14px;
    text-align: center;
}

.attribution a {
    color: var(--Dark-Gray-Blue);
    font-weight: 800;
}