:root {
    --White: hsl(0, 0%, 98%);
    --Green: hsl(75, 94%, 57%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    font-family: 'Inter';
    font-size: 14px;
    background-color: var(--Grey-900);
    color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h2 {
    font-weight: 800;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--Grey-800);
    width: 370px;
    margin: auto 20px;
    padding: 25px 25px;
    border-radius: 20px;
    text-align: center;
}

.avatar-container {
    overflow: hidden;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 35px;

    & img {
        width: 100%;
        height: 100%;
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    & .author-name {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    & .location {
        font-weight: 800;
        color: var(--Green);
        margin-bottom: 30px;

    }

    & p {
        font-size: 16px;
        font-weight: 400;
    }

    & p::before {
        content: '"';
    }

    & p::after {
        content: '"';
    }
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;

}

button {
    font-size: 16px;
    font-weight: 800;
    background-color: var(--Grey-700);
    color: var(--White);
    padding: 17px 0px;
    border-radius: 10px;
    border: none;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(0, 0%, 100%);
    font-weight: 800;
}