* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
}

@font-face {
    font-family: 'Figtree';
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

body {
    font-family: 'Figtree';
    background-color: var(--Yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.main {
    background-color: var(--White);
    width: 370px;
    margin: auto 20px;
    padding: 25px 25px;
    border: solid 1px var(--Gray-950);
    border-radius: 20px;
    box-shadow: 10px 10px 0px 0px var(--Gray-950);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}